
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 241, 236);
}

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #ffffffd2;
    padding: 18px 35px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.btn-primary:hover{
    background-color: #287704;
    cursor: pointer;
    transition:  0.5s all;
    padding: 22px 45px;
}




/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* start header */

.header{
    background-image: url('../Assets/Hero-bg.png');
}
nav{
    max-width: 1140px;
    margin: 0 auto;
    
}
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    color: #4E47FF;
    font-weight: bold;

}
.logo span{
    color: #287704;
}
.banner{
    width: 100%;
    padding: 152px 0px;
    text-align: center;
}
.banner p{
    margin-bottom: 37px;
    font-size: 65px;
}
/* action sections start */

.action-container{
    display: flex;
    justify-content: space-between;
    gap: 130px;
}
.action-text{
    width: 50%;
    margin: 75px auto;
}
.section-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.section-sub-title{
    color: #252432;
    opacity: 50%;
    margin: 23px 0;
    font-size: 24px;
}
.action-image img{
    border-radius: 48px;
}
/* Productive section */
.productives-container{
    background-color: #dcdcfa;
    text-align: center;
    border-radius: 20px;
}
.productives-title{
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
}
.productives-items{
    display: flex;
    justify-content:center ;
}
.productives-item{
    padding: 50px 70px;
}
.productives-item h4{
    font-size: 78px;
    color: #4E47FF;
}
.productives-item p{
    color: #000000;
    opacity: 50%;
    font-size: 20px;
    margin-left: 0px;
}



/* Users feedback */
.feedback-title{
    text-align: center;
    color: #252432;
    padding-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
}
.feedback-items{
    display: flex;
    gap: 20px;
}
.feedback-item{
    background-color: #f1eded89;
    border-radius: 15px;
    padding: 20px;
}
.feedback-description, .user-name span{
    color: #000000;
    opacity: 50%;
}

.feedback-sub-title{
    color: #1E1E1E;
    padding-top: 24px;
    padding-bottom: 10px;
}
.user-info{
    padding-top: 24px;
    display: flex;
}
.user-info img{
    border-radius: 50%;
    padding-right: 15px;
}
/* Focus styles */
.focus{
    background-color: aliceblue;
    text-align: center;
    padding: 71px 0px;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
}
.focus-sub-title{
    color: rgba(0, 0, 0, 0.5);
    opacity: 80%;
    padding: 20px 0px;
    font-size: 18px;
}
.focus img{
    border-radius: 48px;
    padding-top: 20px;
}


/* Form section */
.form-title{
    font-size: 97px;
    font-weight: bold;
}
.form-container{
    display: flex;
    padding: 20px 0px;
    gap: 100px;
}
.form-column{
    width: 50%;
    margin: auto 0px;
}
.form-column label{
    display: block;
    margin: 15px 0px ;
}
.form-column input{
    display: block;
    border-radius: 5px;
    height: 50px;
    width: 485px;
    padding-left: 15px;
    border: none;
}
/* .form-column input[type="text"]{
    display: block;
    border-radius: 5px;
    height: 50px;
    width: 485px;
    padding-left: 15px;
} */
.form-column textarea{
    display: block;
    border-radius: 5px;
    height: 150px;
    width: 485px;
    padding-left: 15px;
    padding-top: 15px;
    border: none;

}
.form-column button{
    margin-top: 15px;
    width: 500px;
}

/* footer styles*/
footer{
    background-color: rgba(148, 145, 145, 0.527);
    text-align: center;
    padding-bottom: 130px;
    padding-top: 120px;
}
.footer-logo{
    font-size: 100px;
    font-weight: bold;
}
.footer-text{
    color: #8987A1;
}
.footer-content{
    padding-bottom: 20px;
}

.footer-links a{
    color: #8987A1;
    text-decoration: none;
    padding-right: 30px;
}




